.app_container {
    max-height: 100dvh;

    display: flex;
}

*::-webkit-scrollbar {
    width: 1.2rem;

    background-color: var(--accent60);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);

    border-radius: 500px;
}
