.content {
  height: 100dvh;
  padding: 4.6rem 5.8rem;
  flex: 0 0 85%;
  overflow-y: auto;
}
.content .content__title {
  font-size: 3.6rem;
  font-weight: 600;
  text-decoration: dashed underline var(--accent);
  margin-bottom: 3.2rem;
}
.content .content__notes-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 4.6rem 6.8rem;
}
.content .content__notes-container .content__note {
  position: relative;
  padding: 0 2.4rem 1.4rem;
  border-radius: 12px;
  border: 1px solid var(--primary50);
  background-color: var(--secondary25);
  width: 35rem;
  height: 30rem;
}
.content .content__notes-container .content__note .content__note-title {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  margin: 0 -2.4rem 1.6rem;
  text-align: center;
  background-color: var(--primary15);
  padding: 1.4rem 0 1.2rem;
  border-bottom: 1px solid var(--primary50);
  border-radius: 12px 12px 0 0;
}
.content .content__notes-container .content__note .content__note-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.3rem;
  right: 1.1rem;
  stroke: var(--primary80);
  fill: var(--primary80);
  background-color: transparent;
  border: none;
}
.content .content__notes-container .content__note .content__note-delete svg {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0 12px 0 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.content .content__notes-container .content__note .content__note-delete svg:hover {
  stroke: var(--primary);
  fill: var(--primary);
}
.content .content__notes-container .content__note .content__note-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}
.content .content__notes-container .content__note .content__note-list .content__note-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox] {
  appearance: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: var(--primary);
  background-color: transparent;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox]::before {
  content: "";
  width: 75%;
  height: 75%;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox]:checked::before {
  transform: scale(1);
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox] ~ div {
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox] ~ div:focus,
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox] ~ div:hover {
  outline: 2px solid var(--primary);
  background-color: var(--accent25);
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox] ~ div:focus {
  text-decoration: none !important;
  color: var(--text) !important;
}
.content .content__notes-container .content__note .content__note-list .content__note-item input[type=checkbox]:checked ~ div {
  text-decoration: line-through;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  color: var(--accent);
}
.content .content__notes-container .content__note .content__note-list .content__note-add-task {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: -2.4rem;
  padding: 0.6rem 1.2rem 0.6rem 2.4rem;
  border-radius: 0 8px 8px 0;
  border: 1px solid transparent;
  border-left: none;
  gap: 1.2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.content .content__notes-container .content__note .content__note-list .content__note-add-task p {
  color: rgba(4, 6, 4, 0.6666666667);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: inherit;
}
.content .content__notes-container .content__note .content__note-list .content__note-add-task p:first-child {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 2.4rem;
}
.content .content__notes-container .content__note .content__note-list .content__note-add-task:hover {
  background-color: rgba(4, 6, 4, 0.062745098);
  border: 1px solid rgba(4, 6, 4, 0.3137254902);
  border-left: none;
}
.content .content__notes-container .content__note .content__note-list .content__note-add-task:hover p {
  color: rgba(4, 6, 4, 0.8666666667);
}
.content .content__notes-container .content__add-note {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 6, 4, 0.0274509804);
  border-color: rgba(4, 6, 4, 0.3137254902);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content .content__notes-container .content__add-note p {
  height: 5.8rem;
  width: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.8rem;
  font-weight: 400;
  padding: 1.8rem;
  color: rgba(4, 6, 4, 0.3137254902);
  border: 2px solid rgba(4, 6, 4, 0.3137254902);
  border-radius: 50%;
  transition: inherit;
}
.content .content__notes-container .content__add-note:hover {
  background-color: rgba(4, 6, 4, 0.062745098);
  border-color: rgba(4, 6, 4, 0.4588235294);
}
.content .content__notes-container .content__add-note:hover p {
  color: rgba(4, 6, 4, 0.4588235294);
  border: 2px solid rgba(4, 6, 4, 0.4588235294);
}

.pop-in {
  animation: popIn 0.3s ease-in-out;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  85% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=content.css.map */
