.content {
    height: 100dvh;

    padding: 4.6rem 5.8rem;

    flex: 0 0 85%;

    overflow-y: auto;

    .content__title {
        font-size: 4.6rem;
        font-weight: 600;

        text-decoration: dashed underline var(--accent);

        margin-bottom: 4.6rem;
    }

    .content__notes-container {
        display: flex;
        flex-wrap: wrap;

        width: fit-content;

        margin: 0 auto;

        // justify-content: center;

        gap: 4.6rem 6.8rem;

        .content__note {
            padding: 1.4rem 2.4rem;

            border-radius: 12px;
            border: 1px solid var(--primary50);

            background-color: var(--secondary25);

            width: 35rem;
            height: 30rem;

            .content__note-title {
                font-size: 2.2rem;

                margin-bottom: 2.6rem;

                text-align: center;
            }

            .content__note-list {
                display: flex;
                flex-direction: column;

                gap: 1.2rem;

                list-style: none;

                .content__note-item {
                    display: flex;
                    align-items: center;

                    gap: 1.2rem;
                }
            }
        }

        .content__add-note {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #04060410;
            border-color: #04060435;

            p {
                height: 5.8rem;
                width: 5.8rem;

                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 5.8rem;
                font-weight: 400;

                padding: 1.8rem;

                color: #04060475;

                border: 2px solid #04060475;
                border-radius: 50%;
            }
        }
    }
}
