:root[data-theme=light] {
  --text: #040604;
  --background: #f4fbf6;
  --primary: #04d75c;
  --primary95: #04d75c95;
  --primary90: #04d75c90;
  --primary85: #04d75c85;
  --primary80: #04d75c80;
  --primary75: #04d75c75;
  --primary70: #04d75c70;
  --primary65: #04d75c65;
  --primary60: #04d75c60;
  --primary55: #04d75c55;
  --primary50: #04d75c50;
  --primary45: #04d75c45;
  --primary40: #04d75c40;
  --primary35: #04d75c35;
  --primary30: #04d75c30;
  --primary25: #04d75c25;
  --primary20: #04d75c20;
  --primary15: #04d75c15;
  --primary10: #04d75c10;
  --primary05: #04d75c05;
  --secondary: #98e1b7;
  --secondary95: #98e1b795;
  --secondary90: #98e1b790;
  --secondary85: #98e1b785;
  --secondary80: #98e1b780;
  --secondary75: #98e1b775;
  --secondary70: #98e1b770;
  --secondary65: #98e1b765;
  --secondary60: #98e1b760;
  --secondary55: #98e1b755;
  --secondary50: #98e1b750;
  --secondary45: #98e1b745;
  --secondary40: #98e1b740;
  --secondary35: #98e1b735;
  --secondary30: #98e1b730;
  --secondary25: #98e1b725;
  --secondary20: #98e1b720;
  --secondary15: #98e1b715;
  --secondary10: #98e1b710;
  --secondary05: #98e1b705;
  --accent: #6adc9a;
  --accent95: #6adc9a95;
  --accent90: #6adc9a90;
  --accent85: #6adc9a85;
  --accent80: #6adc9a80;
  --accent75: #6adc9a75;
  --accent70: #6adc9a70;
  --accent65: #6adc9a65;
  --accent60: #6adc9a60;
  --accent55: #6adc9a55;
  --accent50: #6adc9a50;
  --accent45: #6adc9a45;
  --accent40: #6adc9a40;
  --accent35: #6adc9a35;
  --accent30: #6adc9a30;
  --accent25: #6adc9a25;
  --accent20: #6adc9a20;
  --accent15: #6adc9a15;
  --accent10: #6adc9a10;
  --accent05: #6adc9a05;
}

:root[data-theme=dark] {
  --text: #f9fbf9;
  --background: #040b06;
  --primary: #28fb80;
  --primary95: #28fb8095;
  --primary90: #28fb8090;
  --primary85: #28fb8085;
  --primary80: #28fb8080;
  --primary75: #28fb8075;
  --primary70: #28fb8070;
  --primary65: #28fb8065;
  --primary60: #28fb8060;
  --primary55: #28fb8055;
  --primary50: #28fb8050;
  --primary45: #28fb8045;
  --primary40: #28fb8040;
  --primary35: #28fb8035;
  --primary30: #28fb8030;
  --primary25: #28fb8025;
  --primary20: #28fb8020;
  --primary15: #28fb8015;
  --primary10: #28fb8010;
  --primary05: #28fb8005;
  --secondary: #1e673c;
  --secondary95: #1e673c95;
  --secondary90: #1e673c90;
  --secondary85: #1e673c85;
  --secondary80: #1e673c80;
  --secondary75: #1e673c75;
  --secondary70: #1e673c70;
  --secondary65: #1e673c65;
  --secondary60: #1e673c60;
  --secondary55: #1e673c55;
  --secondary50: #1e673c50;
  --secondary45: #1e673c45;
  --secondary40: #1e673c40;
  --secondary35: #1e673c35;
  --secondary30: #1e673c30;
  --secondary25: #1e673c25;
  --secondary20: #1e673c20;
  --secondary15: #1e673c15;
  --secondary10: #1e673c10;
  --secondary05: #1e673c05;
  --accent: #239552;
  --accent95: #23955295;
  --accent90: #23955290;
  --accent85: #23955285;
  --accent80: #23955280;
  --accent75: #23955275;
  --accent70: #23955270;
  --accent65: #23955265;
  --accent60: #23955260;
  --accent55: #23955255;
  --accent50: #23955250;
  --accent45: #23955245;
  --accent40: #23955240;
  --accent35: #23955235;
  --accent30: #23955230;
  --accent25: #23955225;
  --accent20: #23955220;
  --accent15: #23955215;
  --accent10: #23955210;
  --accent05: #23955205;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
  min-height: 100dvh;
  max-width: 100vw;
}

.app_container {
  max-height: 100dvh;
  display: flex;
}

*::-webkit-scrollbar {
  width: 1.2rem;
  background-color: var(--accent60);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent80);
}

.header {
  background-color: var(--secondary30);
  padding: 1.2rem 2.4rem;
  border-right: 2px solid var(--primary50);
  overflow-y: auto;
  min-height: 100dvh;
  flex: 1 0 250px;
}
.header .header__title {
  color: var(--primary);
  font-size: 5.8rem;
  margin-bottom: 2.4rem;
}
.header nav .header__nav-title {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0 1.3rem;
  margin-bottom: 0.8rem;
}
.header nav .header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}
.header nav .header__nav-list .header__nav-item {
  min-width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 16px;
  gap: 1.2rem;
  padding: 0.6rem 1.2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header nav .header__nav-list .header__nav-item .header__nav-icon {
  width: 3.2rem;
  height: 3.2rem;
  flex: 0 0 3.2rem;
  border-radius: 12px;
  background-color: black;
}
.header nav .header__nav-list .header__nav-item button {
  color: var(--text);
  flex: 0 0 auto;
  border: none;
  background: transparent;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: inherit;
}
.header nav .header__nav-list .header__nav-item:first-of-type .header__nav-icon {
  background-color: rgba(4, 6, 4, 0.4588235294);
}
.header nav .header__nav-list .header__nav-item:first-of-type button {
  color: rgba(4, 6, 4, 0.4588235294);
}
.header nav .header__nav-list .header__nav-item:hover,
.header nav .header__nav-list .header__nav-item.active {
  background-color: var(--secondary50);
  box-shadow: inset 0 0 0 1px var(--primary50);
}

.content {
  height: 100dvh;
  padding: 4.6rem 5.8rem;
  flex: 0 0 85%;
  overflow-y: auto;
}
.content .content__title {
  font-size: 4.6rem;
  font-weight: 600;
  text-decoration: dashed underline var(--accent);
  margin-bottom: 4.6rem;
}
.content .content__notes-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto;
  gap: 4.6rem 6.8rem;
}
.content .content__notes-container .content__note {
  padding: 1.4rem 2.4rem;
  border-radius: 12px;
  border: 1px solid var(--primary50);
  background-color: var(--secondary25);
  width: 35rem;
  height: 30rem;
}
.content .content__notes-container .content__note .content__note-title {
  font-size: 2.2rem;
  margin-bottom: 2.6rem;
  text-align: center;
}
.content .content__notes-container .content__note .content__note-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}
.content .content__notes-container .content__note .content__note-list .content__note-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.content .content__notes-container .content__add-note {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 6, 4, 0.062745098);
  border-color: rgba(4, 6, 4, 0.2078431373);
}
.content .content__notes-container .content__add-note p {
  height: 5.8rem;
  width: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.8rem;
  font-weight: 400;
  padding: 1.8rem;
  color: rgba(4, 6, 4, 0.4588235294);
  border: 2px solid rgba(4, 6, 4, 0.4588235294);
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
